
.card-control{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.card-luckysheet{
    margin: 16px;
}
.my-luckysheet{
    padding:0px;
    height:700px;
}
.control-button{
    display: flex;
    .el-input{
        width: 200px;
        // margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .el-button{
        // margin-bottom: 10px;
        margin-left: 10px;
    }
    .history{
        .el-select{
            margin-left: 10px;
        }
    }
}
.my-progress{
    margin-top: 10px;
}
.ana-card{
    height: 270px;
}
.ana-res-card{
    height: 270px;
}
.ana-tip-card{
    height: 200px;
}
.ana-history{
    float: right;
    padding: 0px;
}
.ana-res-text{
    line-height: 32px;
}

.el-button--apiBtn {
  background-color: #3b5998;
  font-family: "STHeiti";
  border-radius: 5px;
  border-color:#3b5998;
  color: #fff;
}
.el-button--apiBtn:hover {
  background-color: #4f6da9;
  border-color:#4f6da9;
  border-radius: 5px;
  color: #fff;
}
.el-button--apiBtnn:focus {
  background-color: #4f6da9;
  border-color:#4f6da9;
  border-radius: 5px;
  color: #fff;
}

.el-button--cutBtn {
  background-color: #70b5eb;
  font-family: "STHeiti";
  border-radius: 5px;
  border-color:#70b5eb;
  color: #fff;
}
.el-button--cutBtn:hover {
  background-color: #50a4d5;
  border-color:#50a4d5;
  border-radius: 5px;
  color: #fff;
}
.el-button--cutBtn:focus {
  background-color: #3ba0db;
  border-color:#3ba0db;
  border-radius: 5px;
  color: #fff;
}